<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <input
                [ngStyle]="{top: resultStyle}"
                type="text" 
                placeholder="Search for an artist..."
                formControlName="search"
                [(ngModel)]="search"
                name="search"
                (keyup)="searchArtist()">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-artbrowse *ngIf="resultSuccess"></app-artbrowse>
    </div>
</div>
