button{
    left: 2%;
    right: 2%;
    top: 10%;
    min-width: 1%;
    min-height: 5%;
    position: absolute;
    border-radius: 5px;
}
i{
    font-size: 30px;
}
.album{
    left: 2%;
    right: 2%;
    top: 28%;
    min-width: 1%;
    min-height: 5%;
    position: absolute; 
}
.card-footer{
    text-align: center;
}
.artname{
    left: 5%;
    right: 2%;
    top: 18%;
    position: absolute;

}