<div class="row">
    <div class="col-sm-3" *ngFor="let artist of artists" (click)="getArtist(artist.id, artist.name)">
        <router-outlet></router-outlet>
        <div class="card text-white bg-dark mb-3 mx-auto" style="cursor: pointer;">
            <img 
                class="card-img-top" 
                src="{{ artist.images[2].url }}" 
                alt="Card image cap"
                >
            <div class="card-body">
                <h5 class="card-title">{{ artist.name }}</h5>
                <p class="card-text">
                    {{ artist.followers.total + ' follwers' }}
                </p>
                <div class="rating">
                    <div class="stars-outer">
                        <div class="stars-inner" [ngStyle]="{width: getWidth(artist.popularity)}"></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>